@import '../../../utils/variables';

.button {
  font: inherit;
  border: none;
  padding: .75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  box-sizing: border-box;
  &__default {
    background-color: $white;
    &:hover {
      background-color: $gray-100;
    }
    &:active {
      background-color: $gray-200;
    }
  }
  &__primary {
    color: #fff;
    background-color: $primary-500;
    &:hover {
      background-color:  $primary-600;
    }
    &:active {
      background-color:  $primary-700;
    }
  }
}

