/* Sizes */
$max-width-container: 90rem;

/* Colors */
$white: #ffffff;
$black: #000000;

$gray-50: #f2f2f2;
$gray-100: #eeeeee;
$gray-200: #dfdfdf;
$gray-300: #c4c4c4;
$gray-400: #a5a5a5;
$gray-500: #888888;


$primary-500: #00B3CA;
$primary-600: #009eb3;
$primary-700: #008da0;

$dark-text: #111827;