@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import './theme/variables';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $gray-50;
  color: $dark-text;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  font-weight: 600;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
}
input {
  margin-top: 0.25rem;
  font: inherit;
  height: 2.25rem;
  font-size: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 1px solid #e0e0e0;
  margin-bottom: 1rem;
}
